alias make='make -j`expr $(nproc) + 1` -l$(nproc)'
alias c='clear'
alias ls='ls --color=auto'
alias q='exit'
alias vim='nvim'
alias vimserv='NVIM_LISTEN_ADDRESS=/tmp/nvimsocket nvim'
alias ff='fzf'
alias vf='vim $(fzf)'
alias wine32='WINEARCH=win32 WINEPREFIX=~/.wine32 wine'
alias winetricks32='WINEARCH=win32 WINEPREFIX=~/.wine32 winetricks'
alias so='source'
alias reboot='sudo systemctl reboot'
alias shutdown='sudo systemctl poweroff'
alias hibernate='sudo systemctl hibernate'
alias sprUp="curl -F 'sprunge=<-' http://sprunge.us"
alias diff="/usr/bin/diff -rupN"
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
alias cmake='cm cmake'
alias ninja='cm ninja'

# Git
alias workdone="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --author=elken"
alias git='hub'
alias workflow="g add .;gca;gp"

alias pacmir='yay -Syy'
alias pacupg='yay -Syu'
alias pacin='yay -S'
alias pacrem='yay -Rscn'
