alias make='make -j`expr $(nproc) + 1` -l$(nproc)'
alias c='clear'
alias q='exit'
alias ff='fzf'
alias vf='vim $(fzf)'
alias wine32='WINEARCH=win32 WINEPREFIX=~/.wine32 wine'
alias winetricks32='WINEARCH=win32 WINEPREFIX=~/.wine32 winetricks'
alias so='source'
alias sprUp="curl -F 'sprunge=<-' http://sprunge.us"
alias diff="/usr/bin/diff -rupN"
alias pbcopy='xsel --clipboard --input'
alias pbc='pbcopy'
alias pbpaste='xsel --clipboard --output'
alias pbp='pbpaste'
alias cat='bat'
alias http-serve='python -m http.server'
alias ls='lsd --git --icon=always'
alias la='lsd --git --icon=always -al'
alias ll='lsd --git --icon=always -l'

# Git
alias workdone="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --author=elken"
alias workflow="g add .;gca;gp"
alias ccm64='sudo ccm64'

alias yl='lazygit --work-tree ~ --git-dir ~/.local/share/yadm/repo.git'
alias nv='env TERM=wezterm nvim'
alias cd='z'
alias biff='clj -M:dev'
