[user]
	name = Ellis Kenyo
	email = me@elken.dev
    signingKey = D1E8046111A7026F2FED99FA298BE5D997EBAA02
[push]
	default = current
[github]
	user = elken
[core]
	excludefile = /home/elken/.gitignore
	filemode = false
[alias]
      pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[recieve]
        denyCurrentBranch = ignore
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = "master"
[diff "org"]
  xfuncname = "^(\\*+ +.*)$"
