[user]
	name = Ellis Kenyő
	email = me@elken.dev
[push]
	default = simple
[github]
	user = elken
[core]
	excludefile = /home/elken/.gitignore
	filemode = false
[alias]
      pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[hub]
	protocol = ssh
[recieve]
        denyCurrentBranch = ignore
