[submodule ".zsh/prezto"]
	path = .zsh/prezto
	url = git@github.com:elken/prezto
        branch = master
[submodule ".vim"]
	path = .vim
	url = git@github.com:elken/.vim
        branch = master
[submodule "bin"]
	path = bin
	url = git@github.com:elken/bin
        branch = master
