[submodule ".zsh/prezto"]
	path = .zsh/prezto
	url = https://github.com/elken/prezto
[submodule ".vim"]
	path = .vim
	url = https://github.com/elken/.vim
[submodule "bin"]
	path = bin
	url = https://github.com/elken/bin
